<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <description>flu-web</description>

   <servlet>
      <servlet-name>random</servlet-name>
      <servlet-class>com.flu.web.RandomThreadPoolServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>flu</servlet-name>
      <servlet-class>com.flu.concurrent.web.FluConcurrentServlet</servlet-class>
      <init-param>
         <param-name>interval</param-name>
         <param-value>10000</param-value>
      </init-param>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>flu</servlet-name>
      <url-pattern>/flu/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>random</servlet-name>
      <url-pattern>/random</url-pattern>
   </servlet-mapping>

   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
   </welcome-file-list>
</web-app>

